ul {
  padding: 0px; /* RESET  */
}

html {
  background: linear-gradient(to right, #FF7C54, #FF5157 44%);
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

html a {
  color: #ffffff;
  text-decoration: none;
}

body {
  font-size: 62.5%; /*1em = 10px - Converte o tamanho default (16px) para 10px, pra facilitar na hora de converter pra em. */
  /* centralizar */
  margin: 0px auto;
  width: 768px; /* tamanho de um dos breakpoint */
  max-width: 100%;
}

header {
  margin-top: 18px; /* Design original 63px - 45px */
}

header h1 {
  font-size: 3.22em; /* 32.2px / 10px - (target / context = result) */
  line-height: 1.5;
  margin: 0px;
}

/*=== NAV ===*/

nav {
  margin: 27px auto 0px auto; /* Design original 'e 72, mas diminui tanto no header e nav -30px */
  white-space: nowrap;
  width: 644px; /* 620px + 12px de cada borda branca */
  max-width: 100%;
}

nav a {
  font-size: 2.06em; /* 20.6px / 10px */
  letter-spacing: 2px;
  outline: 0;
}

nav ul li:first-child {
  text-align: left;
}

nav ul li:last-child {
  text-align: right;
  margin-right: -2px;
}

nav a.active {
  border-bottom: solid #ffc10e;
  padding: 4px;
}
/*=== SECTION ===*/

section {
  margin: 20px 0px 30px 0px;
}

.tab-votacao p {
  font-size: 1.8em;
}

.tab-votacao img {
  border: 12px solid #ffffff;
  border-radius: 3px;
  max-width: 100%;
}

.tab-mais-votados, .tab-mais-dislikes {
  font-size: 2.47em; /* 24.7px */
}

.container {
  position: relative;
  width: 212px; /* 768 - 72 = 696 . 696/3 = 232px. 232 - 22 de margem */

  border: 12px solid #ffffff;
  border-radius: 3px;
  height: 136.767px;
}

.container img {
  width: 212px;
}

.container:hover img {
  opacity: 0.3;
}

.container:hover .container-info {
  opacity: 1;
}

.container-info {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 45.76271186440678%;
  transform: translate(45.76271186440678%, -50%);
  -ms-transform: translate(-50%, -50%);
}

button {
  border: 0px;
  border-radius: 15px;
  font-size: 1.6em; /* 16px*/
  font-family: inherit;
  height: 68px;
  padding: 23px 33px 28px 33px;
  margin: 10px 28px 0px 0px;
}

.btn-success {
  background-color: #5ce66b;
  color: #414141;
}

.btn-danger {
  background-color: #a9150b;
  color: #ffffff;
}

.grid-1-of-3 {
  display: inline-block;
  width: 33.333333%;
}

@media (max-width: 320px) {
  .tab-votacao img {
    max-width: 80%;
  }
  .grid-1-of-3 {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  nav ul li:first-child, nav ul li:last-child {
    text-align: center;
  }

  .container {
    margin: 0 auto;
  }
}
