 <!DOCTYPE html>
 <html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Almoço da Firma</title>

    <!-- build:css css/style.min.css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- endbuild -->

    <!-- build:js js/combined.js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <!-- endbuild -->
  </head>

  <body ng-app="almoco">
    <header>
      <h1>Almoço da Firrrrrrrmaaa</h1>
    </header>

    <nav>
      <a class="grid-1-of-3" href="index.html">TODOS</a>
      <a class="grid-1-of-3" href="votados.html">+ VOTADOS</a>
      <a class="grid-1-of-3" href="votados.html" >- VOTADOS</a>
    </nav>

    <section ng-controller="AlmocoController as almoco">
      <form>
        <img alt="Nome restaurante" src="../images/resources/img10.jpg">
        <button type="button" class="btn-success" name="gostei">Gostei</button>
        <button type="button" class="btn-danger" name="nao-gostei">Nao Gostei</button>
      </form>

      <div class="grid-1-of-3" ng-repeat="restaurant in almoco.restaurants | limitTo: 6 | orderBy:'likes':true">
        <img alt="{{restaurant.nama}}" src="../{{restaurant.url}}">
        <p>{{restaurant.name}} - {{restaurant.likes}}</p>
      </div>

      <div class="grid-1-of-3" ng-repeat="restaurant in almoco.restaurants | limitTo: 6 | orderBy:'dislikes':true">
        <img alt="{{restaurant.nama}}" src="../{{restaurant.url}}">
        <p>{{restaurant.name}} - {{restaurant.likes}}</p>
      </div>

    </section>
  </body>
</html>
